/* .App {
  text-align: center;
} */


/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

/* body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
} */

.SW_Container {
  width: 90%;
  margin: auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #cccccc;
  padding: 16px;
  display: block;
  
}
.SW_Form {
  width: 90%;
  margin: auto;
  padding: 16px;
  display: block;
  
}

.SW_Form_Lable {
  margin: auto;
  padding: 0px;
}

#components-layout-demo-responsive .logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}

.titlebar {
  background: #000;
  display: block;
  color: white;
  padding-left: 16px; 
  font-size: 30px;               
}

.MovieConten {
  padding-top: 3%; padding-left: 3%; padding-right: 3%;
  width: 100%;
  display: block;
}

.MovieConten tr{
  background: cyan;
  color: black;
}

.MovieConten tr h3{
  font-size: 25px;
  padding-bottom: 30px;
  padding-left: 20px;

}

.MovieConten tr p{
  padding-left: 20px;
  padding-right: 20px;
}

.MovieConten tr Button{
  padding-left: 20px;
}

.btnView
{
  padding-left: 20px;
}